  <header>
<ul>
  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
  <li><a [routerLink]="['/project']" [routerLinkActive]="['actived']">proyectos</a></li>
  <li id="logo"><a href="#">ASM</a></li>
  <li><a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear proyectos</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
</ul>
</header>
<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  Master de JavaScript por Abraham Serrano &copy;
</footer>